/* Основной стиль страницы */
body, html {
  margin: 0; /* Убираем отступы по умолчанию */
  padding: 0; /* Убираем внутренние отступы */
  height: 100%; /* Устанавливаем высоту на 100% экрана */
  width: 100%; /* Устанавливаем ширину на 100% экрана */
  box-sizing: border-box; /* Включаем модель коробки, которая учитывает padding и border в размерах элемента */
  font-family: Arial, sans-serif; /* Шрифт по умолчанию */
  background-color: #000000; /* Черный фон */
  overflow: visible; /* Разрешаем прокрутку, если необходимо */
  user-select: none; /* Отключаем выделение текста */
  -webkit-user-select: none; /* Для браузеров на базе WebKit */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для IE10+ */
}

/* Стили для элементов меню и игрового экрана */
.menu, .game {
  user-select: none; /* Отключаем выделение текста */
  -webkit-user-select: none; /* Для браузеров на базе WebKit */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для IE10+ */
}

/* Контейнер для полноэкранного режима */
.full-screen-container {
  display: flex; /* Используем флекс-контейнер */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom)); /* Учитываем безопасные зоны на мобильных устройствах */
  width: 100%; /* Ширина на 100% */
}

/* Стиль меню (начальное и конечное) */
.menu {
  display: flex; /* Используем флекс-контейнер */
  flex-direction: column; /* Располагаем элементы вертикально */
  justify-content: center; /* Центрируем содержимое по вертикали */
  align-items: center; /* Центрируем содержимое по горизонтали */
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom)); /* Учитываем безопасные зоны */
}

/* Стиль кнопок */
button {
  width: 139px; /* Устанавливаем ширину кнопки */
  height: 44px; /* Устанавливаем высоту кнопки */
  background-color: #0F2412; /* Темный цвет фона кнопки */
  color: #7BD285; /* Светлый цвет текста на кнопке */
  border: none; /* Убираем рамку кнопки */
  border-radius: 10px; /* Скругляем углы кнопки */
  font-size: 20px; /* Размер шрифта на кнопке */
  font-weight: bold; /* Жирный шрифт для текста на кнопке */
  cursor: pointer; /* Курсор в виде руки при наведении на кнопку */
  transition: background-color 0.3s, color 0.3s; /* Плавное изменение фона и цвета текста при взаимодействии */
  z-index: 1;
  margin-bottom: 20px;
}


/* Стили для кнопки при наведении */
button:hover {
  background-color: #1C3A25; /* Более яркий цвет при наведении */
}

/* Стиль игрового экрана */
.game {
  display: none; /* Изначально скрыто */
  position: relative; /* Для позиционирования объектов */
  width: 100%; /* Ширина на 100% */
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom)); /* Учитываем безопасные зоны */
  background-color: #000; /* Черный фон */
  overflow: hidden; /* Скрываем элементы, выходящие за пределы */
  padding-bottom: env(safe-area-inset-bottom); /* Учитываем безопасную зону снизу */
}

/* Самолёт игрока */
.player {
  position: absolute; /* Позиционируем относительно родительского контейнера */
  bottom: 50px; /* Отступ снизу */
  left: calc(50% - 25px); /* Центрируем по горизонтали */
  transform: none; /* Убираем лишние трансформации */
  width: 50px; /* Ширина самолета */
  height: 60px; /* Высота самолета */
  background-image: url('img/plane2.png'); /* Изображение самолета */
  background-size: contain; /* Масштабируем изображение */
  background-repeat: no-repeat; /* Не повторяем изображение */
  background-position: center; /* Центрируем изображение */
  transition: transform 0.3s ease; /* Плавный переход для трансформаций */
  bottom: calc(50px + env(safe-area-inset-bottom)); /* Учитываем безопасную зону снизу */
}

/* Хитбокс для самолёта */
.player .hitbox {
  position: absolute; /* Позиционируем относительно родительского элемента */
  top: 16px; /* Смещение вниз */
  left: 14px; /* Смещение вправо */
  width: 22px; /* Ширина хитбокса */
  height: 36px; /* Высота хитбокса */
  pointer-events: none; /* Игнорируем события мыши */
}

/* Стиль при нажатии на самолёт */
.player.pressed {
  transform: scale(1.1); /* Увеличиваем размер */
  transform: translate(-0%, -75px); /* Смещаем вверх */
}

/* Стиль падающих объектов */
.object {
  position: absolute; /* Позиционируем относительно родительского контейнера */
  top: -50px; /* Начальная позиция выше экрана */
  background-size: contain; /* Масштабируем изображение */
  background-repeat: no-repeat; /* Не повторяем изображение */
  background-position: center; /* Центрируем изображение */
  animation: fall linear; /* Анимация падения */
}

/* Анимация для падения объектов */
@keyframes fall {
  0% {
    top: -50px; /* Начальная позиция */
  }
  100% {
    top: 100%; /* Конечная позиция (внизу экрана) */
  }
}

/* Стиль для конечного меню */
#gameOverMenu {
  display: none; /* Изначально скрыто */
  flex-direction: column; /* Располагаем элементы вертикально */
  justify-content: center; /* Центрируем по вертикали */
  align-items: center; /* Центрируем по горизонтали */
  position: absolute; /* Позиционируем абсолютно */
  top: 0; /* Отступ от верхней границы */
  left: 0; /* Отступ от левой границы */
  width: 100%; /* Ширина на 100% */
  height: 100%; /* Высота на 100% */
  background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон */
  color: #7BD285; /* Зеленый цвет текста */
}

/* Стиль для счёта игрока */
.score {
  position: absolute; /* Позиционируем относительно родительского контейнера */
  top: 10px; /* Отступ сверху */
  left: 10px; /* Отступ слева */
  font-size: 20px; /* Размер шрифта */
  color: #7BD285; /* Зеленый цвет текста */
  font-weight: bold; /* Жирный шрифт */
  z-index: 10; /* Размещаем поверх других элементов */
}

/* Контейнер для звёзд */
#stars, #gameStars {
  position: absolute; /* Позиционируем относительно родительского контейнера */
  top: 0; /* Отступ от верхней границы */
  left: 0; /* Отступ от левой границы */
  width: 100%; /* Ширина на 100% */
  height: 100%; /* Высота на 100% */
  z-index: 0; /* Расположить под объектами игры */
  pointer-events: none; /* Игнорируем взаимодействия */
}

/* Стиль для одной звезды */
.star {
  position: absolute; /* Позиционируем относительно родительского контейнера */
  width: 2px; /* Ширина звезды */
  height: 2px; /* Высота звезды */
  background-color: white; /* Белый цвет */
  border-radius: 50%; /* Круглая форма */
  opacity: 0; /* Начальная непрозрачность */
  animation: starTwinkle 3s infinite; /* Анимация мерцания */
}

/* Анимация мерцания звезды */
@keyframes starTwinkle {
  0%, 100% {
    opacity: 0; /* Звезда прозрачная в начале и в конце */
    transform: scale(0.5); /* Маленькая звезда */
  }
  50% {
    opacity: 1; /* Звезда видна */
    transform: scale(1); /* Звезда увеличивается */
  }
}
