/* Общие стили */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
  height: 100%;
  overflow: hidden;
  user-select: none; /* Запрет выделения текста */
  -webkit-user-select: none; /* Для WebKit-браузеров */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для IE/Edge */
  -webkit-tap-highlight-color: transparent; /* Убирает серый фон при нажатии на мобильных устройствах */
  touch-action: manipulation; /* Предотвращает нежелательные действия, например, двойное нажатие */
}

#background {
  position: relative;
  width: 390dp;
  height: 844dp;
  margin: auto;
  background: #000;
  overflow: hidden;
}

/* Все элементы приложения */
.top-container,
.center-section,
.progress-section,
.button-section,
.bottom-menu {
  position: relative;
  z-index: 2; /* Все элементы выше фона и звезд */
}

/* Анимация звезд */
.star {
  position: absolute;
  width: 2dp;
  height: 2dp;
  background: white;
  opacity: 0;
  border-radius: 50%;
  animation: starAnimation 3s infinite ease-in-out;
}

@keyframes starAnimation {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Верхний контейнер */
.top-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60dp 20dp 0;
  height: 

