/* Общие стили */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
  height: 100%;
  overflow: auto;
  user-select: none; /* Запрет выделения текста */
  -webkit-user-select: none; /* Для WebKit-браузеров */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для IE/Edge */
  -webkit-tap-highlight-color: transparent; /* Убирает серый фон при нажатии на мобильных устройствах */
  touch-action: manipulation; /* Предотвращает нежелательные действия, например, двойное нажатие */
}

#background {
  position: relative;
  width: 390px;
  height: 100%;
  margin: auto;
  background: #000;
  overflow: hidden;
}

/* Все элементы приложения */
.top-container,
.center-section,
.progress-section,
.button-section,
.bottom-menu {
  position: relative;
  z-index: 2; /* Все элементы выше фона и звезд */
}

/* Анимация звезд */
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  opacity: 0;
  border-radius: 50%;
  animation: starAnimation 3s infinite ease-in-out;
}

@keyframes starAnimation {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

#main-content {
  position: relative;
  width: 100%;
  height: 100%;
}


/* Верхний контейнер */
.top-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0;
  height: 50px;
  padding: 0 15px;
  background-color: #0f241200;
  border-radius: 10px;
  border-bottom: 3px solid #0F2412;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.username {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #7BD285;
}

.user-balance {
  display: flex;
  align-items: center;
}

.coin-icon {
  width: 22px;
  height: 20px;
  margin-right: 15px;
}

.balance {
  font-size: 18px;
  font-weight: bold;
  color: #7BD285;
}

/* Тапалка в центре */
.center-section {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  z-index: 300;
}

.coin-circle {
  width: 238px;
  height: 238px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7bd28500;
  cursor: pointer;
  transition: transform 0.2s;
}

/* Сфера */
canvas {
  display: block;
}

#sphereCanvas {
  height: 260px;
  width: 100%;
}

/* Прогресс и таймер */
.progress-section {
  margin-top: 80px;
  text-align: center;
}

.percentage {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.progress-bar {
  position: relative;
  height: 10px;
  background-color: #7BD285;
  margin: 10px 20px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0;
  border-radius: 5px;
  background-color: #0F2412;
  transition: width 0.5s ease-in-out;
}

.timer {
  font-size: 18px;
  color: #9B9B9B;
  margin-top: 10px;
  font-weight: bold;
}

/* Кнопки */
.button-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.button {
  width: 139px;
  height: 44px;
  background-color: #0F2412;
  color: #7BD285;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:active {
  transform: scale(0.95);
}

/* Нижнее меню */
.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  height: 70px;
  z-index: 3;
  margin: 0 auto;
  pointer-events: none; /* Не блокирует касания */
}
.bottom-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 350px;
  border-top: 3px solid #0F2412;
  background-color: #000;
  border-radius: 10px;
  pointer-events: auto; /* Включает касания только для меню */
}

.menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Страницы */
.page {
  display: none;
  position: relative; /* Меняем с absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.page.active {
  display: flex; /* Используем flex, если нужно */
  position: relative; /* Гарантируем корректное позиционирование */
  flex-direction: column; /* Дочерние элементы в колонку */
  z-index: 2;
}

/* ============================================================================================= */



body {
  font-family: 'Roboto', sans-serif; /* Устанавливает шрифт для всего документа */
  background-color: #000; /* Задает черный цвет фона страницы */
  color: #7BD285; /* Устанавливает светло-зеленый цвет текста по умолчанию */
  margin: 0; /* Убирает внешние отступы у страницы */
  padding: 0; /* Убирает внутренние отступы у страницы */
  /* Убираем flex, чтобы страница корректно скроллилась */
  overflow: auto; /* Разрешает прокрутку страницы */
}

#tasks-page {
  width: 100%; /* Контейнер занимает всю ширину родительского элемента */
  max-width: 390px; /* Ограничиваем ширину контейнера до 390px */
  height: calc(100% - 70px); /* Учитываем возможную высоту нижнего меню */
  display: flex; /* Включаем flexbox для управления дочерними элементами */
  align-items: center; /* Центрируем содержимое по вертикали */
  flex-direction: column; /* Располагаем дочерние элементы в колонку */
  overflow-y: auto; /* Добавляем вертикальную прокрутку, если содержимое превышает высоту контейнера */
  margin: 0 auto; /* Центрируем контейнер по горизонтали */
  -webkit-overflow-scrolling: touch; /* Включаем плавный скроллинг для iOS/Android */
  padding-bottom: 100px; /* Учитываем высоту нижнего меню */
}


.header {
  margin-top: 20px; /* Добавляем отступ сверху */
  width: 350px; /* Ширина заголовка фиксирована */
  height: 50px; /* Фиксированная высота заголовка */
  border-radius: 10px; /* Скругляем углы заголовка */
  border-bottom: 3px solid #0F2412; /* Добавляем нижнюю границу */
  display: flex; /* Используем flexbox для центрирования содержимого */
  justify-content: center; /* Центрируем текст по горизонтали */
  align-items: center; /* Центрируем текст по вертикали */
}

.header h1 {
  font-size: 24px; /* Размер шрифта заголовка */
}

.subtitle {
  margin-top: 20px; /* Отступ сверху */
  text-align: center; /* Выравнивание текста по центру */
  font-size: 18px; /* Размер шрифта подзаголовка */
}

.task-item {
  margin-top: 12px; /* Отступ между задачами */
  width: 350px; /* Фиксированная ширина элемента */
  height: 70px; /* Фиксированная высота элемента */
  min-height: 70px;
  background: rgba(49, 49, 49, 0.2); /* Полупрозрачный фон */
  border-radius: 10px; /* Скругленные углы */
  border-top: 3px solid #0F2412; /* Верхняя граница */
  border-bottom: 3px solid #0F2412; /* Нижняя граница */
  display: flex; /* Flexbox для размещения содержимого */
  align-items: center; /* Центрируем содержимое по вертикали */
  justify-content: space-between; /* Разделяем содержимое на противоположные стороны */
  box-sizing: border-box; /* Включаем отступы в расчет ширины и высоты */
  padding-left: 15px;
  padding-right: 15px;
}

.section-text {
  height: 100%;
  width: 182px;
  padding-top: 6px;
}

.button-tasks {
  width: 60px; /* Устанавливаем ширину кнопки */
  height: 32px; /* Устанавливаем высоту кнопки */
  background-color: #0F2412; /* Темный цвет фона кнопки */
  color: #7BD285; /* Светлый цвет текста на кнопке */
  border: none; /* Убираем рамку кнопки */
  border-radius: 10px; /* Скругляем углы кнопки */
  font-size: 14px; /* Размер шрифта на кнопке */
  font-weight: bold; /* Жирный шрифт для текста на кнопке */
  cursor: pointer; /* Курсор в виде руки при наведении на кнопку */
  transition: background-color 0.3s, color 0.3s; /* Плавное изменение фона и цвета текста при взаимодействии */
  z-index: 1;
}

#wallet-icon {
  width: 50px; /* Ширина иконки */
  height: 50px; /* Высота иконки */
  background-image: url('img/Vector coin wallet.png'); /* Фон с изображением */
  background-size: cover; /* Изображение занимает весь блок */
  background-position: center; /* Центрируем изображение */
  border-radius: 50%; /* Скругляем иконку до круга */
}

#channel-1-icon {
  width: 50px; /* Ширина иконки */
  height: 50px; /* Высота иконки */
  background-image: url('img/Vector coin 3.png'); /* Фон с изображением */
  background-size: cover; /* Изображение занимает весь блок */
  background-position: center; /* Центрируем изображение */
  border-radius: 50%; /* Скругляем иконку до круга */
}

.icon {
  width: 50px; /* Ширина иконки */
  height: 50px; /* Высота иконки */
  background-image: url('img/Vector coin telegram.png'); /* Фон с изображением */
  background-size: cover; /* Изображение занимает весь блок */
  background-position: center; /* Центрируем изображение */
  border-radius: 50%; /* Скругляем иконку до круга */
}

.task-text {
  font-size: 14px; /* Размер шрифта текста задачи */
  color: #7BD285; /* Цвет текста */
  flex: 1; /* Растягиваем текст, чтобы занять свободное пространство */
  margin-top: 8px;
  margin-bottom: 8px;
}

.task-sum {
  font-size: 14px; /* Размер шрифта текста задачи */
  color: #7BD285; /* Цвет текста */
  flex: 1; /* Растягиваем текст, чтобы занять свободное пространство */
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.right-section {
  display: flex; /* Flexbox для размещения содержимого */
  align-items: fl; /* Центрируем содержимое по вертикали */
}

.points {
  font-size: 16px; /* Размер шрифта */
  margin-right: 15px; /* Отступ справа */
  font-weight: bold; /* Жирный текст */
}

.inline-icon {
  width: 22px; /* Ширина иконки */
  height: 20px; /* Высота иконки */
  background-image: url('img/Vector coin x.png'); /* Фон с изображением */
  background-size: cover; /* Изображение занимает весь блок */
  background-position: center; /* Центрируем изображение */
  margin-left: 15px;
}


/* =========================================================================== */


/* Основной контейнер страницы */
#ref-page {
  width: 100%;
  max-width: 390px;
  margin: 0 auto; /* Центрируем по горизонтали */
  display: flex;
  flex-direction: column; /* Колонка для элементов */
  align-items: center;
  text-align: center; /* Текст по центру */
  color: #7BD285; /* Основной цвет текста */
  font-family: 'Roboto', sans-serif; /* Стиль шрифта */
  height: 100vh; /* Задаем высоту в 100% от высоты окна браузера */
  overflow-y: auto; /* Разрешаем вертикальную прокрутку */
}

.page-top-box {
  margin-top: 20px; /* Добавляем отступ сверху */
  width: 350px; /* Ширина заголовка фиксирована */
  height: 50px; /* Фиксированная высота заголовка */
  border-radius: 10px; /* Скругляем углы заголовка */
  border-bottom: 3px solid #0F2412; /* Добавляем нижнюю границу */
  display: flex; /* Используем flexbox для центрирования содержимого */
  justify-content: center; /* Центрируем текст по горизонтали */
  align-items: center; /* Центрируем текст по вертикали */
}

/* Заголовок */
#ref-page h1 {
  font-size: 24px;
  width: 100%; /* На всю ширину контейнера */
}

/* Описание */
.page-h2 {
  font-size: 18px;
  width: 350px;
  margin: 20px 0 30px 0;
}

/* Блок "How Does It Work?" */
.ref-info {
  height: auto;
  width: 350px;
  background-color: rgba(49, 49, 49, 0.2);
  border-radius: 10px;
  border-top: 3px solid #0F2412;
  border-bottom: 3px solid #0F2412;
  padding: 0 15px;
  padding-bottom: 15px;
  margin: 0;
  box-sizing: border-box;
  color: #7BD285;
  text-align: left; /* Текст слева */
}

.ref-info h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 15px 0 10px 0;
}

.ref-info p {
  font-size: 14px;
  text-align: center;
  margin: 0 0 6px 0;
  text-align: left;
}

/* Кнопка "Invite" */
#ref-page .button {
  height: 44px;
  width: 152px;
  background-color: #0F2412; /* Темно-зеленый фон */
  color: #7BD285; /* Текстовый цвет */
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 12px 20px;
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s ease;
}

#ref-page .button:hover {
  background-color: #1C3A25; /* Более яркий цвет при наведении */
}

/* Список рефералов */
.ref-list {
  background-color: rgba(49, 49, 49, 0.2);
  border-radius: 10px;
  border-top: 3px solid #0F2412;
  border-bottom: 3px solid #0F2412;
  padding: 0 15px 15px 15px;
  margin-top: 10px;
  margin-bottom: 100px;
  width: 350px;
  box-sizing: border-box;
  color: #7BD285;
  font-size: 14px;
  text-align: left; /* Текст слева */
}

.ref-list h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.ref-list ul {
  list-style: none; /* Убираем маркеры */
  padding: 0;
  margin: 0;
}

.ref-list li {
  display: flex;
  justify-content: space-between; /* Разделяем имя и бонус */
  padding: 5px 0;
  border-bottom: 1px solid #0F2412; /* Линия между элементами */
}

.ref-list li:last-child {
  border-bottom: none; /* Убираем линию у последнего элемента */
}

/* =========================================================================== */

#info-page {
  width: 100%;
  max-width: 390px;
  margin: 0 auto; /* Центрируем по горизонтали */
  display: flex;
  flex-direction: column; /* Колонка для элементов */
  align-items: center;
  text-align: center; /* Текст по центру */
  color: #7BD285; /* Основной цвет текста */
  font-family: 'Roboto', sans-serif; /* Стиль шрифта */
  height: 100vh; /* Задаем высоту в 100% от высоты окна браузера */
  overflow-y: auto; /* Разрешаем вертикальную прокрутку */
}

.roadmap {
  margin-top: 20px; /* Добавляем отступ сверху */
  width: 350px; /* Ширина заголовка фиксирована */
  height: 50px; /* Фиксированная высота заголовка */
  border-radius: 10px; /* Скругляем углы заголовка */
  border-bottom: 3px solid #0F2412; /* Добавляем нижнюю границу */
  display: flex; /* Используем flexbox для центрирования содержимого */
  justify-content: center; /* Центрируем текст по горизонтали */
  align-items: center; /* Центрируем текст по вертикали */
}

.roadmap h1 {
  text-align: center;
  color: #78d187;
  font-size: 24px;
}

#info-page-p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}

.roadmap-container {
  background-color: #1e1e1e;
  border-radius: 10px;
  width: 350px;
  background-color: rgba(49, 49, 49, 0.2);
  text-align: left;
  border-top: 3px solid #0F2412;
  border-bottom: 3px solid #0F2412;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.roadmap-container h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}


ol {
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

li {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 100;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}



